article {
  position: relative;
  padding: 0 0 0 2.5em;
  margin: 0 0 1.5em 0;
  font-family: Roboto;
}
h2 {
  font-size: 1em;
  font-weight: 400;
  margin: 0 0 0.5em 0;
  color: #333;
}
h2 a {
  text-decoration: none;
}

article p {
  font-size: 0.8em;
  color: #888;
  margin: 0;
}
small {
  color: #888;
}
.index {
  position: absolute;
  font-family: Rajdhani;
  font-size: 1.6em;
  font-weight: 200;
  color: #888;
  left: 0.2em;
  top: 0;
  text-align: right;
  width: 0.75em;
  line-height: 1;
}

h3 {
  margin: 0 0 1em 0;
}
.item {
  border-bottom: 1em solid #f4f4f4;
  margin: 0 -2em 2em -2em;
  padding: 0 2em 2em 2em;
}
.main-link {
  display: block;
  text-decoration: none;
}

.meta {
  font-size: 0.8em;
  color: #666;
}

