.comment {
  border-top: 1px solid #eee;
  padding: 1em 0 0 0;
}

.comment .children {
  padding: 0 0 0 1em;
}

@media (min-width: 720px) {
  .comment .children {
    padding: 0 0 0 2em;
  }
}

li {
  list-style: none;
}

pre {
  white-space: pre-wrap;
}

.comment p {
  line-height: 1.4;
  font-size: 14px;
  margin: 0 0 1em 0;
}

.comment .meta {
  display: block;
  font-size: 14px;
  color: #888;
  margin: 0 0 1em 0;
}

/* prevent crazy overflow layout bug on mobile */
.body * {
  overflow-wrap: break-word;
}