header nav {
  background-color: #214537;
  color: white;
  font-weight: 300;
  padding: 1em;
}

header .icon {
  float: left;
  width: 0.8em;
  height: 0.8em;
  border: 1px solid white;
  text-align: center;
  line-height: 1;
  font-size: 2em;
  position: relative;
  top: -0.1em;
  box-sizing: border-box;
  margin: 0 0.5em 0 0;
  opacity: 0.6;
  cursor: default;
  z-index: 999;
}

header .icon span:after {
  content: 'viperHTML';
  position: fixed;
  top: 3.3em;
  left: 1em;
  font-weight: 600;
  color: #214537;
  opacity: 0;
  transition: all .3s ease-in;
}

header .icon:hover span:after {
  opacity: 1;
}

header .icon span {
  position: relative;
  top: -0.48em;
  font-weight: 400;
  font-size: .5em;
}

header ul {
  margin: 0;
  padding: 0;
  user-select: none;
}

header li {
  display: inline-block;
  padding: 0 0.1em;
}

header .about {
  float: right;
}

@media (min-width: 400px) {
  header .icon {
    margin: 0 1em 0 0;
  }
  header li {
    display: inline-block;
    padding: 0 0.5em;
  }
}

header .selected {
  position: relative;
  font-weight: 600;
  display: inline-block;
}

header .selected::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background-color: white;
  display: block;
  bottom: -1em;
}

header nav a {
  color: white;
  text-decoration: none;
}