article {
  position: relative;
  padding: 0 0 0 2.5em;
  margin: 0 0 1.5em 0;
}

article h2 {
  font-size: 1em;
  font-weight: 400;
  margin: 0 0 0.5em 0;
  color: #333;
}

article h2 a {
  text-decoration: none;
}

article p {
  font-size: 0.8em;
  color: #777;
  margin: 0;
}

article small {
  color: #777;
}
article .index {
  position: absolute;
  font-size: 1.6em;
  font-weight: 200;
  color: #777;
  left: 0.2em;
  top: 0;
  text-align: right;
  width: 0.75em;
  line-height: 1;
}

article h3 {
  margin: 0 0 1em 0;
}

article .item {
  border-bottom: 1em solid #f4f4f4;
  margin: 0 -2em 2em -2em;
  padding: 0 2em 2em 2em;
}

article .main-link {
  display: block;
  text-decoration: none;
}

article .meta {
  font-size: 0.8em;
  color: #666;
}

